{% extends 'base.html.twig' %}

{% block body %}
<div class="userEdit">
    <p class="containerTitleEdit">Créer une annonce</p>
    
    {{ form_start(form) }}
    <div class="formUserEdit">{{ form_widget(form) }}</div>
    <button class="btnEditUser" type="submit">SOUMETTRE</button>
    {{ form_end(form) }}

</div>
{% endblock %}